<!DOCTYPE html>
<html lang="pl"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <style>
        .pattern
        {
        background: rgb(93,86,207);
        background: linear-gradient(90deg, rgba(93,86,207,1) 0%, rgba(9,70,121,1) 28%, rgba(0,212,255,1) 100%);
        }
    </style>

</head>
<body class="pattern">

<section layout:fragment="content">
    <div class="container">
        <h2> Dodawanie nowego produktu:</h2>
    </div>


    <div class="container">
        <form method="POST" class="d-grid gap-3" th:object="${transdata}">

            <div class="form-group">
                <label> Nazwa</label>:
                <input type="text" th:field="${transData.nazwa}" value=""/><br/>
            </div>

            <div class="form-group">
                <label> Kategoria</label>:
                <input type="text" th:field="${transData.kategoria}" value=""/><br/>
            </div>

            <div class="form-group">
                <label> Opis</label>:
                <input type="text" th:field="${transData.opis}" value=""/><br/>
            </div>

            <div class="form-group">
                <label> Cena</label>:
                <input type="text" th:field="${transData.cena}" value=""/><br/>
            </div>

            <div class="form-group">
                <label> Liczba dostępnych sztuk</label>:
                <input type="text" th:field="${transData.iloscdostepnych}" value=""/><br/>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Dodaj produkt</button>
                <a href="/home" class="btn btn-secondary" role="button">Strona główna</a>
            </div>
        </form>
    </div>
</section>
</body>
</html>