<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Wiadomość</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style>
        .pattern
        {
        background: rgb(93,86,207);
        background: linear-gradient(90deg, rgba(93,86,207,1) 0%, rgba(9,70,121,1) 28%, rgba(0,212,255,1) 100%);
        }
    </style>

    </head>
    <body class="pattern">
    <section>
        <div class="container-fluid text-center">
            <div class="container">

                <h1 th:text="${header}" />
                <h4 th:text="${message}" />

                <a href="/home" class="btn btn-secondary" role="button">Strona główna</a>
            </div>
        </div>

    </section>
    </body>
</html>

